    {% extends 'layouts/base.html' %}
    
    {% load static %}

    {% block content %}

    <h1>{{title}}</h1>

    <img src="{% static 'Pythonimg.png' %}" alt="15" width="100" height="100">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolor voluptatum ab officiis aliquam ipsam
        aperiam, vitae minima sequi quia libero repellendus in, dicta voluptatibus totam quo ducimus sint. Fuga! Lorem, ipsum dolor. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium et nemo nostrum veniam iure quaerat fugiat quisquam sequi veritatis, nisi magnam, ullam consequatur laborum. Voluptatem consectetur deleniti esse unde debitis.</p>
    
    {% endblock %}
